<div class="center-items">
  <%= link_to art_path(art) do %>
    <div class="item-details box-shadow carousel-item">
        <%= cl_image_tag art.picture, class:"avatar-lg item-absolute item-photo" %>
      <div class="item-info ">
        <p><%= art.name %></p>
        <p class="truncate"><%= art.description %></p>
      </div>
    </div>
  <% end %>
</div>

