<div class="container mt-3 w-50" >
  <%= simple_form_for(@lease) do |f| %>
    <%= f.input :start %>
    <%= f.input :end %>
    <%= f.submit "Save changes", class: "btn btn-success" %>
  <% end %>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
