.navbar-btn {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin-right: 20px;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none !important;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: white;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  background-color: rgba(255,255,255,0.5);
  transition: all 0.6s ease;
  &:hover {
    transform: scale(1.1);
    color: #FFFFFF;
  }
}

// .btn-small &:hover: {
//     color: $red-new;
//   }
// }

.button-primary {
  background-color: $red-new;
  a {
    color: white;
  }

}

.modify-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    color: $red-new;
    &:hover {
      color: darken($red-new, 10%);
    }
  }
}

.destroy-btn {
  position: absolute;
  top: 1rem;
  right: 1rem
}

.update-btn {
  position: absolute;
  top: 1rem;
  right: 2.5rem;
}
// @media only and (max-width:30em) {
//  a.button4 {
//   display: block;
//   margin: 0.2em auto;
//  }
// }

.book_button {
  padding: 10px 10px;
  background-color: $red-new;
  text-align: center;
  color: white;
  width: 80px;
  border-radius: 10px;
  font-weight: lighter;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  opacity: 0.95;
  &:hover{
  text-decoration: none;
  color: white;
  font-weight: normal;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.6);
  opacity: 1;
  }
}

.not_available_button {
  padding: 10px 10px;
  background-color: $red-new;
  text-align: center;
  color: white;
  width: 250px;
  border-radius: 10px;
  font-weight: lighter;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  opacity: 0.95;
  &:hover{
  text-decoration: none;
  color: white;
  font-weight: normal;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.6);
  opacity: 1;
  }
}

