.listings-card-category {
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  &:hover {
  color: $red-new;
  opacity: 0.95;
  margin-left: 3px;
}
}

.link-picture {
  a {
    text-decoration: none !important;
  }
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-product {
  overflow: hidden;
  // height: 600px;
  // background: $red-new;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  // width: 900px
  border-radius: 5px;
}

.art-img {
  height: 100%;
  width: 600px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  border-radius: 5px;
}

.art-title {
  color: #606060;
  font-weight: 700;
  font-size: 30px;
}

.art-price {
  font-size: 45px;
  em {
    font-size: 17px;
    color: lighten(#000, 20%);
  }
}

.art-description {
  font-size: 17px;
  font-weight: bold;
  color: #606060;
  em {
    color: darken(#606060, 10%);
  }
}

.box {
  overflow: hidden;
  height: 600px;
  width: 500px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-left: 200px;
}

.details {
  float: bottom;
  height: 420px;
}
