.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 100%;
  min-height: 300px;
  margin-bottom: 4vh;
  position: relative;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.remove-underline {
  text-decoration: none !important;
  color: black;
  &:hover {
    color: $red-new;
  }
}
.card-trip:hover .card-trip-infos{
  color: red;
}


.card-trip {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &:hover {
      text-decoration: none !important;
    }
  .card-trip-infos {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    &:hover {
      text-decoration: none !important;
    }
  }
}

.art-card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  &:hover {
    color: $red-new;
  }
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.painting-card-container {
  width: 60%;
}

.painting-holder {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 315px;

}

.painting-frame {
  position: absolute;
  z-index: 5;
  height: 100%;
  width: 100%;
}

.carousel-painting-frame {
  position: absolute;
  z-index: 5;
  height: 100%;
  width: 100%;
  top: -13px;
  left: -8px;
}

.painting-image {
  width: 75%;
}
