.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
}

.navbar-fixed {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.search-bar {
  display: flex;
  flex-grow: 1;
}

.form-control {
  width: 540px;
  margin-left: 10px;
}

.form-control2 {
  width: 300px !important;
}
